@page "/kanban-refactored"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using KanbanBlazor.Components.KanbanComponents.Refactored
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDataAccess DataAccess
@attribute [Authorize]

<PageTitle>Kanban</PageTitle>

@if (Loaded == false)
{
    <p>Loading Your Data...</p>
}
else
{   
    <CascadingValue Value="@User">
        <DataLoader />
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <KWorkspaceSelector OnWorkspaceChanged="HandleWorkspaceChanged" />
                </div>
                <div class="col-md-4">
                    <KBoardSelector SelectedWorkspace="@SelectedWorkspace" OnBoardChanged="HandleBoardChanged" />
                </div>
            </div>
        </div>
        <KBoardComponent SelectedBoard="@SelectedBoard" />
    </CascadingValue>
    
}
@code {
    public KUser? User { get; set; } = new KUser();
    public KWorkspace? SelectedWorkspace { get; set; } = new KWorkspace();
    public KBoard? SelectedBoard { get; set; } = new KBoard();
   
    public string? UserId { get; set; } = "";
    public string? Email { get; set; } = "";
    public bool? Loaded { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await GetAppUserData();
        Loaded = true;
    }

    public async Task GetAppUserData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        User.Id = user.FindFirstValue(ClaimTypes.NameIdentifier);
        User.UserName = user.FindFirstValue(ClaimTypes.Email);
        User.Email = user.FindFirstValue(ClaimTypes.Email).ToUpper();
    }

    public async Task HandleWorkspaceChanged(KWorkspace workspace)
    {
        SelectedWorkspace = workspace;
        StateHasChanged();
    }

    public async Task HandleBoardChanged(KBoard board)
    {
        SelectedBoard = board;
    }
}
