@page "/kanban"
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Kanban</PageTitle>

@if (Email == null)
{
    <p>Enter your email address to load your resources:</p>
    <input @bind="Email" placeholder="Enter Your Email"/>
}
else {
    <KanbanFrame Email="@Email" /> 
}
  
@code {
    public string? Email { get; set; }
}