<h3>WorkspaceComponent</h3>

<CascadingValue Value="@SelectedWorkspace">
    <CascadingValue Value="@SelectedBoard">
        <BoardSelector />
        <!-- <BoardComponent/> -->
    </CascadingValue>
</CascadingValue>

@code {
    [CascadingParameter] public KWorkspace? SelectedWorkspace { get; set; }
    [CascadingParameter] public KBoard? SelectedBoard { get; set; } = new KBoard();
}
