@attribute [StreamRendering]
@rendermode InteractiveServer

@if (!SelectedWorkspace.Boards.Any()) {
    <p>Loading Boards...</p>
} else {
    <div class="p-1 m-1">
        <select @onchange="HandleBoardChange" class="form-select w-25">
            <option value="">Select a Board</option>
            @foreach (var board in SelectedWorkspace.Boards)
            {
                <option value="@board.Id">@board.Name</option>
            }
            <option value="newBoard">Add New Board</option>
        </select>
    </div>
}

@if (SelectedBoard.KWorkspaceId != null) {
    <CascadingValue Value="@User">
        <CascadingValue Value="@SelectedBoard">
            <BoardComponent />
        </CascadingValue>
    </CascadingValue>
}

@code {
    [CascadingParameter] public KUser? User { get; set; }
    [CascadingParameter] public KWorkspace SelectedWorkspace { get; set; } = new KWorkspace();
    [CascadingParameter] public KBoard SelectedBoard { get; set; } = new KBoard();

    private void HandleBoardChange(ChangeEventArgs e) {
        var b_id = e.Value.ToString();
        SelectedBoard = SelectedWorkspace.Boards.FirstOrDefault(a => a.Id.Equals(b_id)) ?? new KBoard();

        switch (b_id) {
            case "":
                SelectedBoard = new KBoard();
                break;
            case "newBoard":
                SelectedBoard.KWorkspaceId = SelectedWorkspace.Id;
                CreateNewBoard();
                break;
        }
    }


    //private BoardModal bModal;
    private async Task CreateNewBoard() 
    {
        //bModal.Show(SelectedBoard, SelectedWorkspace.Id);
        StateHasChanged();
    }
}
