@page "/CreateWorkspace"
@inject NavigationManager NavigationManager

<EditForm Model="Workspace" OnSubmit="Submit" FormName="CreateWorkspace">
    <div>
        <label>
            Workspace Name:
        </label>
        <InputText @bind-Value="Workspace.Name" />
        </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public KUser User { get; set; }

    [Inject]
    public IDataAccess DataAccess { get; set; }

    [SupplyParameterFromForm]
    public KWorkspace? Workspace { get; set; }

    protected override void OnInitialized() => Workspace ??= new();

    private async Task Submit()
    {
        Workspace.KUserId = User.Id;
        await DataAccess.PostKanbanWorkspace(Workspace);
        string destination = $"/Kanban/{User.Email}";
        NavigationManager.NavigateTo(destination);
    }
}
