<style>
    .overlay {
        position: fixed; /* Positioning and size */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(128,128,128,0.5); /* color */
        display: none; /* making it hidden by default */
    }

    .toast-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: lightgray;
    }
</style>

@{
    var showClass = IsVisible ? "d-block" : "d-none";
}


<div class="overlay @showClass">
    <div class="toast-container p-3 m-auto @showClass" data-bs-autohide="true" data-bs-delay="5000">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Edit Column</strong>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div>

            <div class="toast-body">
                <EditForm Model="SelectedColumn" OnValidSubmit="Submit" FormName="EditColumnForm">


                    <p>Column Id: @SelectedColumn.Id</p>
                    <p>Board Id: @SelectedColumn.KBoardId</p>

                    <label>
                        Name: <InputText @bind-Value="SelectedColumn!.Name" />
                    </label>

                    <button type="submit">Submit</button>

                    <button class="btn btn-danger" @onclick="DeleteColumn">Delete</button>
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public KUser? User { get; set; }

    [CascadingParameter] public KColumn? SelectedColumn { get; set; }

    [Parameter] public bool IsVisible { get; set; }

    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }


    public void Show()
    {
        IsVisible = true;
        StateHasChanged();
    }

    private void Close()
    {
        IsVisible = false;
        StateHasChanged();
    }

    private async Task Submit()
    {
        StateHasChanged();
        Close();
    }

    private async Task DeleteColumn()
    {

        StateHasChanged();
        Close();
    }
}

